<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul>
            <li>
                <img class="slide-image" src="~/img/carousel/carousel1.jpg" width="600" height="280" alt="">
            </li>
            <li>
                <img class="slide-image" src="~/img/carousel/carousel2.jpg" width="600" height="280" alt="">
            </li>
            <li>
                <img class="slide-image" src="~/img/carousel/carousel3.jpg" width="600" height="280" alt="">
            </li>
            <li>
                <img class="slide-image" src="~/img/carousel/carousel4.jpg" width="600" height="280" alt="">
            </li>
            <li>
                <img class="slide-image" src="~/img/carousel/carousel5.jpg" width="600" height="280" alt="">
            </li>
        </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    <p class="jcarousel-pagination">

    </p>
</div>