@model LanchesWeb.ViewModels.SnackListViewModel

@{
    ViewData["Title"] = "List";
}

<h2>@Model.CurrentCategory</h2>

<div class="container">
    <div class="row card-deck">
        @foreach (Snack snack in Model.Snacks)
        {

            @Html.Partial("_SnackSummary", snack);

        }
    </div>
</div>