@{
    ViewData["Title"] = "Admin Index";
}

<h3>@ViewData["Title"]</h3>

<div class="container">
    <div class="jumbotron">
        <h2>Access Denied</h2>
        <p>
            <img src="~/img/adminarea.jpg" alt="Admin Image" />
        </p>
        <p>Welcome to your admin console</p>AccessDenied
    </div>
</div>


