@{
    ViewData["Title"] = "Access Denied";
}

<h3>@ViewData["Title"]</h3>

<div class="container">
    <div class="jumbotron">
        <h2>Access Denied</h2>
        <p>
            <img src="~/img/acessonegado.png" alt="Access Denied" />
        </p>
        <p>You do not have permissio to see this page</p>
        <p>
            <a asp-area="" asp-action="Index" asp-controller="Home">Back</a>
        </p>
    </div>
</div>


