@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<h3>People's Choice</h3>
<p>Pick your best</p>

<div class="row">
    @foreach (Snack snack in Model.Starred)
    {
        @Html.Partial("_SnackSummary", snack);
    }
</div>